
button {
  width: 40px;
}

tr {
  background-color: rgba(0,0,0,.2);
}

.album-details {
}

.album-object {
  align-self: center;
}

.album-sub-grid {
  display: grid;
  height: 100%;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.artist{
  font-weight: bold;
  color: lightpink;
  text-align: center;
  padding: 0;
  margin: 0;
}

.ion-play {
  color: purple;
}

.ion-pause {
  color: purple;
}

.not-paused{}

.not-playing{}

.paused {}

.playing{}

.player-bar {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}

.song {
}

.song-duration {
  color: white;
  text-align: center;
}

.song-number {
  font-weight: bold;
  color: lightpink;
}

.song-title {
    color: lightpink;
    text-align: center;
}

/* If not playing display song number only */
td.not-playing .not-paused .ion-play,
td.not-playing .not-paused .ion-pause {
  display: none;
}

/* Hovering should display a play icon */

tr:hover .not-playing .not-paused .ion-play {
  display: block;
}
tr:hover .not-playing .not-paused .song-number {
  display: none;
}
tr:hover .not-playing .paused .ion-play {
  display: none;
}
tr:hover .not-playing .paused .song-number {
  display: block;
}

/* If currently playing display pause icon only*/
td.playing .not-paused .ion-play,
td.playing .not-paused .song-number {
  display: none;
}

/* If paused, display play icon */
td.not-playing .paused .ion-pause,
td.not-playing .paused .song-number {
  display: none;
}

#album-cover-art {
  width: 60%;
  height: 60%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
}

#album-info {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
  align-items: center;
}

#album-title, #release-info {
  color: white;
  text-align: center;
}

#album-title {
  color: white;
  text-align: center;
  padding: 5% 0 0 0;
  margin: 0;
}

#release-info {
  color: white;
  text-align: center;
  padding: 0 0 5% 0;
  margin: 0;
}

#song-duration-column {
  width: 20px;
}

#song-list {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
}

#song-number-column {
  width: 20px;
}

#song-title-column {
  width: 40px;
}
