.landing {
  grid-area: middle;
}

.hero-title {
  font-family: 'Fredoka One', cursive;
  font-size: 2em;
  color: lightpink;
  text-align: center;
}

.selling-points, .point {
  text-align: center;
}

.point-title {
  font-family: 'Fredoka One', cursive;;
  color: white;
}
.point-description {
  font-family: 'Roboto', sans-serif;
  color: pink;
}
