.hero-title {
  font-family: 'Fredoka One', cursive;
  font-size: 2em;
  color: lightpink;
  text-align: center;
}

.landing {
  grid-area: middle;
}

.point, .selling-points {
  text-align: center;
}

.point-description {
  font-family: 'Roboto', sans-serif;
  color: pink;
}
.point-title {
  font-family: 'Fredoka One', cursive;;
  color: white;
}
