.current-time, .total-time {
  font-size: small;
}

.icon {
  width: wrap;
}

.ion-pause {
}

.ion-play {
}

.ion-skip-backward, .ion-skip-forward {
  color: lightpink;
}

.ion-skip-backward:hover, .ion-skip-forward:hover {
  color: purple;
}

.player-bar{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.seek-bar{
  width: 70%;
  opacity: .7;
  outline: none;
  padding: 5% 0;
}

.seek-bar:hover {
    opacity: 1;
}

#buttons {
  display: flex;
  align-items: center;
  padding: 5% 0;
}

#next, #play-pause, #previous {
  width: 60px;
  height: 20px;
}

#time-control, #volume-control {
  display: flex;
  align-items: center;
}
