* {
  box-sizing: border-box;
}


body {
  width: 100%;
  height: 100%;
  font-family: Roboto, sans-serif;
  background-image: url("./images/blurred_backgrounds/blur_bg_3.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.grid-container {
  display: grid;
  grid-template-areas:
    'header header header header header header'
    'left middle middle middle middle right'
    'footer footer footer footer footer footer';
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 100px 1fr auto;
  min-height: 100%;
}

.header{ grid-area: header; }

.left { grid-area: left; }

.middle {
  grid-area: middle;
  align-items: center;
}

.right { grid-area: right; }
